.post_container {
    text-align: center;
}

.post_container h3 {
    margin-bottom: .2em;
}

.post_container img{
    width: 600px;
}

.body{
    margin-left: 200px;
    margin-right: 200px;
}

.post_container .tags {
    display: flex;
    justify-content: center;
}

.tags p{
    margin-right: 1em;
}

.tags span{
    font-weight: bold;
}