.post_details{
    margin-bottom: 2em;
    margin-left: 100px;
    margin-right: 100px
}

.post_details img{
    width: 600px;
    display: block;
    margin: 0 auto;
}


.post_details h2{
    margin-bottom: .4em;
}

.post_details .tags {
    margin-bottom: 1.2em;
    display: flex;
}

.tags p{
    margin-right: .5em;
}

.tags span{
    font-weight: bold;
}

.createdBy{
    font-style: italic;
    color: #444;
    font-size: .8em;
    margin-bottom: 1em;
}